<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Control</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="panel">
        <h1>LED Control Panel</h1>
        <div class="color-custom">
            <h2>Set a custom color</h2>
            <form action="/changecolor" class="color-change">
                <input type="color" name="color" id="colorPicker">
                <label for="colorPicker">Choose color</label>
                <button class="btn btn-dark" type="submit">Set</button>
            </form>
        </div>
        <div class="color-presets">
            <h2>Or choose from some presets</h2>
            <a href="/changecolor?color=%23ff0000" class="color-link"><input class="color-grid" type="button" style="background-color: #FF0000;"></a>
            <a href="/changecolor?color=%23FFFF00" class="color-link"><input class="color-grid" type="button" style="background-color: #FFFF00;"></a>
            <a href="/changecolor?color=%230000FF" class="color-link"><input class="color-grid" type="button" style="background-color: #0000FF;"></a>
            <a href="/changecolor?color=%2300FF00" class="color-link"><input class="color-grid" type="button" style="background-color: #00FF00;"></a>
            <br>
            <a href="/changecolor?color=%23FF00FF" class="color-link"><input class="color-grid" type="button" style="background-color: #FF00FF;"></a>
            <a href="/changecolor?color=%23651FFF" class="color-link"><input class="color-grid" type="button" style="background-color: #651FFF;"></a>
            <a href="/changecolor?color=%23007fff" class="color-link"><input class="color-grid" type="button" style="background-color: #007fff;"></a>
            <a href="/changecolor?color=%2300FFFF" class="color-link"><input class="color-grid" type="button" style="background-color: #00FFFF;"></a>
            <br>
            <a href="/changecolor?color=%2300ff7f" class="color-link"><input class="color-grid" type="button" style="background-color: #00ff7f;"></a>
            <a href="/changecolor?color=%237fff00" class="color-link"><input class="color-grid" type="button" style="background-color: #7fff00;"></a>
            <a href="/changecolor?color=%23FF4500" class="color-link"><input class="color-grid" type="button" style="background-color: #FF4500;"></a>
            <a href="/changecolor?color=%23FFFFFF" class="color-link"><input class="color-grid" type="button" style="background-color: #FFFFFF; border: solid 2px;"></a>
        </div>
    </div>
</body>
</html>